[Unit]
Description=Fotobox
After=graphical.target network.target
Wants=graphical.target

[Service]
ExecStart=__PYTHON__ __INSTALL_DIR__/main.py
Restart=no
User=__USER__
Group=__USER__
Environment=DISPLAY=:0
Environment=XAUTHORITY=__HOME__/.Xauthority
WorkingDirectory=__INSTALL_DIR__
StandardOutput=append:__INSTALL_DIR__/logs/fotobox.log
StandardError=append:__INSTALL_DIR__/logs/fotobox.log
KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=graphical.target
